.cont {
  max-height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 30px 35px;
  .title {
    color: #121212;
    font-family: "Manrope", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 83.333% */
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav {
      display: flex;
      align-items: center;
      font-size: 16px;
      gap: 10px;
      .select {
        background-color: white;
        width: 150px;
        font-size: 12px;
        color: black;
        font-family: "Manrope", sans-serif;
        background-color: transparent;
        margin-top: 5px;
        border: 0;
        color: rgba(18, 18, 18, 0.5);
        outline: 0;

        option {
          font-family: "Manrope", sans-serif;
          background-color: white;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 112.1%; /* 13.452px */
          color: rgba(18, 18, 18, 0.5);
        }
      }
      .nav_item {
        width: 120px;
        display: flex;
        height: 30px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .selected_nav {
        background-color: #443bff;
        color: white;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        border-radius: 6px;
        cursor: pointer;
      }
      p {
        font-family: "Manrope", sans-serif;
      }
    }
  }
}

.input {
  margin-top: 0px;
  width: 100%;
  margin-left: 0px;
  margin-left: 1rem;
  height: 100%;
  background: transparent;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 18px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.1%;
  }
}

@media (max-width: 720px){
  .cont {
    .title{
      margin-bottom: 0;
      .nav{
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 480px) {
  .cont {
    .title {
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }
}
