.cont{
  max-height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 30px 35px;
  .title{
    color: #121212;
    font-family: 'Manrope',sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 83.333% */
    margin-bottom: 2rem;
  }
  .cont_i{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 460px;
    .line{
      height: 100%;
      width: 2px;
      background: #8E8E8E;
    }
    //.set_item{
    //  width: 500px;
    //  height: auto;
    //  .header{
    //    width: 100%;
    //    display: flex;
    //    justify-content: space-between;
    //    align-items: center;
    //    padding: 0 20px;
    //    border-radius: 53px;
    //    background: #F5F5F5;
    //    height: 60px;
    //    margin-bottom: .5rem;
    //    .title{
    //      height: 100%;
    //      display: flex;
    //      gap: 10px;
    //      align-items: center;
    //      color: #121212;
    //      font-family: 'Manrope',sans-serif;
    //      font-size: 16px;
    //      font-style: normal;
    //      font-weight: 500;
    //      line-height: 112.1%; /* 17.936px */
    //      margin: 0;
    //    }
    //    .file{
    //      color: rgba(18, 18, 18, 0.70);
    //      font-family: 'Manrope',sans-serif;
    //      font-size: 16px;
    //      font-style: normal;
    //      font-weight: 600;
    //      line-height: 112.1%; /* 17.936px */
    //    }
    //  }
    //  .main{
    //    width: 100%;
    //    height: 150px;
    //    border-radius: 27px;
    //    background: #F5F5F5;
    //    padding: 15px 20px;
    //    .title{
    //      color: #121212;
    //      font-family: 'Manrope',sans-serif;
    //      font-size: 16px;
    //      font-style: normal;
    //      font-weight: 500;
    //      line-height: 112.1%; /* 17.936px */
    //      margin: 0;
    //    }
    //    input{
    //      width: 100%;
    //      margin-top: 0.5rem;
    //      margin-bottom: 0.5rem;
    //      background-color: transparent;
    //      font-family: 'Manrope',sans-serif;
    //
    //      font-size: 14px;
    //      font-style: normal;
    //      font-weight: 600;
    //    }
    //    textarea{
    //      width: 100%;
    //      height: 65px;
    //      background-color: transparent;
    //      font-family: 'Manrope',sans-serif;
    //
    //      font-size: 14px;
    //      font-style: normal;
    //      font-weight: 600;
    //      border: 0;
    //      outline: 0;
    //      resize: none;
    //    }
    //  }
    //}
  }
}