.cont{
  max-height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 30px 35px;
  .title{
    color: #121212;
    font-family: 'Manrope',sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 83.333% */
    margin-bottom: 2rem;
  }
  .cont_i{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 460px;
    .line{
      height: 100%;
      width: 2px;
      background: #8E8E8E;
    }
  }
}