.header {
  width: 100%;
  gap: 10px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header_inner {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;

    .logo {
      font-size: 20px;
      text-transform: uppercase;
      color: white;
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 2rem;

      .navItem {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #838383;
        // color: white;
        path {
          stroke: #838383;
        }

        font-size: 16px;
      }

      .navItem_active {
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;

        path {
          stroke: white;
        }
      }
    }

    .lang {
      display: flex;
      gap: 2rem;
      align-items: center;
      color: #838383;

      img{
        height: 40px;
        width: 80px;
      }

      span {
        cursor: pointer;
        font-family: "Manrope", sans-serif;
      }
    }
  }

  .nav {
    .navItem:hover {
      transition: all 0.5s;
      color: white;

      path {
        transition: all 0.5s;
        stroke: white;
      }
    }

    .navItem_active {
      color: white;

      path {
        stroke: white;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    height: 60px;
    justify-content: center;

    .header_inner {
      justify-content: center;

      .nav {
        display: none;
      }

      .lang {
        display: none;
      }
    }
  }


}
