.cont_i {
  height: auto;

  .select {
    width: 300px;
    font-size: 12px;
    color: black;
    font-family: "Manrope", sans-serif;
    background-color: transparent;
    margin-top: 5px;
    border: 0;
    color: rgba(18, 18, 18, 0.5);
    outline: 0;

    option {
      font-family: "Manrope", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 112.1%; /* 13.452px */
      color: rgba(18, 18, 18, 0.5);
    }
  }

  .cont_inf {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    height: 460px;
  }

  .set_cont {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .line {
    height: 100%;
    width: 2px;
    background: #8e8e8e;
  }
}

@media (max-width: 480px) {
  .cont_i {
    .cont_inf{
      flex-direction: column;
      overflow-x: auto;
      height: 50vh;
    }

  }
  .line {
    display: none;
  }
}
