.cont {
  width: 100%;

  .title {
    color: #121212;
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
  }

  .inputs_cont {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;

    .inpt_cont {
      height: 80px;
      background-color: #F5F5F5;
      width: 245px;
      border-radius: 12px;
      padding: 21px 25px;

      .title {
        color: #121212;
        font-family: 'Manrope', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
      }
      select {
        width: 100%;
        font-size: 12px;
        color: black;
        font-family: 'Manrope', sans-serif;
        background-color: transparent;
        margin-top: 5px;
        border: 0;
        color: rgba(18, 18, 18, 0.50);
        outline: 0;

        option {
          font-family: 'Manrope', sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 112.1%; /* 13.452px */
          color: rgba(18, 18, 18, 0.50);
        }
      }

      input {
        width: 100%;
        font-size: 12px;
        color: black;
        font-family: 'Manrope', sans-serif;
        background-color: transparent;
        margin-top: 5px;

        &::placeholder {
          font-family: 'Manrope', sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 112.1%; /* 13.452px */
          color: rgba(18, 18, 18, 0.50);
        }
      }
    }
  }
  .blue_btn{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #443BFF;
    margin-top: 2rem;
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Manrope',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    cursor: pointer;
  }
}