* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arkhip';
}

#root {
    background: #020202;
    color: white;
    height: 100vh;
}

input {
    outline: 0;
    border: 0;
}

.container {
    width: 1160px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: white;
}

input:-internal-autofill-selected {
    background: transparent !important;
}

