* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arkhip',sans-serif;
}

#root {
    background: #020202;
    /*color: white;*/
    height: 100vh;
    overflow: hidden;
}

input {
    outline: 0;
    border: 0;
}

.container {
    width: 1160px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: white;
}

input::-internal-autofill-selected {
    background: transparent !important;
}

input::-webkit-calendar-picker-indicator {
    color: white;
}

/* Firefox */
* {
    scrollbar-width: 1px;
    scrollbar-color: #397524 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 1px;
    width: 1px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #397524;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media (max-width: 480px) {

    * {
        scrollbar-width: 0px;
        scrollbar-color: #397524 #DFE9EB;
    }

    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
        display: none;
    }

    .container {
        padding: 0 10px;
    }
}

