.input_search {
  margin-top: 1rem;
  width: 100%;
  height: 60px;
  border-radius: 60px;
  background: rgba(234, 234, 234, 0.5);
  display: flex;
  align-items: center;
  padding: 1rem;

  input {
    width: 100%;
    margin-left: 1rem;
    height: 100%;
    background: transparent;
    color: white;
    font-family: "Manrope", sans-serif;
    font-size: 18px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      font-family: "Manrope", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 112.1%;
    }
  }
}

.cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;

  .users {
    width: 48%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    height: 50vh;
    max-height: 72vh;
    overflow-y: scroll;
    padding-right: 1%;
    // overflow: auto;
  }

  .left {
    width: 49%;
    height: 450px;
    border-radius: 29px;
    background: #fff;
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .cont{
    justify-content: normal;
    flex-direction: column-reverse;
    overflow: auto;
    height: 64vh;
    .users {
      width: 100%;
      height: auto;
      //height: 400px;
      overflow: unset;
      margin-top: 10px;
    }

    .left {
      width: 100%;
      height: auto;
    }
  }
}
@media (max-height: 569px) {
  .cont{
    height: 55vh;
  }
}